<%- include('partials/header')%>
<div class="d-flex p-5">
    <div class="col-md-2 col-sm-12 m-auto">
        <img
            width="100"
            height="100"
            class="rounded-circle"
            src="<%= user.avatar.url%>"
            alt=""
        />
        <br />
        <hr />
        <h2><%= user.name%></h2>
    </div>
    <div class="col-md-8 col-sm-12 m-auto">
        <h3><%= user.username%></h3>
        <h3><%= user.email%></h3>
    </div>
</div>

<%- include('partials/footer')%>
